body {
  background-color: #093145;
}
.nav {
  text-align: center;
  padding-top: 20px;
  margin-right: 80px;
}
.nav li{
  display: inline-block;
  margin: 0 auto;
}
.nav a {
  color: #EAF3FB;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 10px;
  font-family: 'Source Code Pro', monospace;
}
.thatbox {
  background-color: #0C374D;
  color: #EAF3FB;
  font-family: 'Source Code Pro', monospace;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  align-content: center;
}
nobr {
  white-space: pre;
  font-size: 12px;
}
.tits {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  line-height: 0.5;
}
.bode p {
  padding-bottom: 20px;
  padding-top: 0px;
  padding-left: 70px;
  padding-right: 70px;
  font-size: 18px;
  text-align: justify;
}
.bode .videoholder {
  text-align: center;
}
.contact {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
  font-size: 14px;
  color: #EAF3FB;
  font-family: 'Source Code Pro', monospace;
}
.contact p {
  font-size: 14px;
  color: #EAF3FB;
  font-family: 'Source Code Pro', monospace;
}
.contact a {
  font-size: 14px;
  color: #EAF3FB;
}
.contact li {
  display: inline;
}
.vjs-default-skin {
  margin-left: auto;
  margin-right: auto;
}
