body {
    color: #333333;
    background-color: #ffffff;
}
body.loaded {
    transition: color 0.4s, background-color 0.4s;
}
#archnav {
    font-family: "AdobeGaramondProRegular", "Georgia", "Times New Roman", "bitstream vera serif", Times, serif;
    font-size: 15px;
    font-style: normal;
    position: fixed;
    top: 0;
    left: 0;
    float: left;
    width: 90px;
    margin-top: 192px;
    padding-left: 32px;
    padding-right: 10%;
}
ul {
    list-style-type: none;
    padding: 0px;
}
.archlist {
    width: 160px;
    box-sizing: content-box;
}
.archlist p {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
}
ul li {
    padding-left: 10px;
}
@media screen and (max-width: 950px) {
    #archnav {
        position: relative;
        top: 0;
        left: 0;
        float: none;
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .archlist {
        padding-left: 32px;
    }
}
#container {
    max-width: 30em;
    margin: 0 auto;
    padding-top: 64px 0;
    font-family: "AdobeGaramondProRegular", "Georgia", "Times New Roman", "bitstream vera serif", Times, serif;
}
#container.font-size1 {
    font-size: 12px;
}
#container.font-size2 {
    font-size: 14px;
}
#container.font-size3 {
    font-size: 16px;
}
#container.font-size4 {
    font-size: 18px;
}
#container.font-size5 {
    font-size: 20px;
}
#container.font-size6 {
    font-size: 22px;
}
#container.font-size7 {
    font-size: 24px;
}
#container.font-size8 {
    font-size: 26px;
}
#container.font-size9 {
    font-size: 28px;
}
.top {
    text-align: start;
    display: none;
}
.domain {
    font-size: 0.9em;
    line-height: 1.48em;
    padding-bottom: 4px;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
}
.top > h1 {
    font-size: 1.6em;
    line-height: 1.25em;
    width: 100%;
    margin: 30px 0;
    padding: 0;
}
.top > .credits {
    font-size: 0.9em;
    line-height: 1.48em;
    margin: 0 0 30px 0;
    padding: 0;
    font-style: italic;
}
.signature {
    font-size: 18px;
    padding-left: 5%;
    font-style: italic;
}
body.light > .container > .top > .domain {
    border-bottom-color: #333333 !important;
}
body.light blockquote {
    -moz-border-start: 2px solid #333333 !important;
}
h1 {
    color: #333333;
}
a:hover {
    color: #0095dd;
}
b {
    color: #333333;
}
